body {
  background-color: white;
}
#title {
  text-align: center;
  color: black;
  font-family: Arial;
}
#element1 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(98, 202, 243);
}
#element2 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(247, 132, 199);
}
#element3 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(247, 197, 132);
}
#element4 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(247, 245, 132);
}
#element5 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(132, 247, 157);
}
#element6 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(132, 182, 247);
}
#element7 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(113, 121, 243);
}
#element8 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(163, 132, 247);
}
#element9 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(119, 85, 240);
}
#element10 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(235, 115, 165);
}
#element11 {
  border: 1px solid black;
  padding: 0;
  background-color: rgb(241, 70, 142);
}
.no_border {
  border: none;
}
table {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
h6 {
  text-align: right;
  margin: 0;
}
h5 {
  text-align: left;
  margin: 0;
}
h1 {
  text-align: center;
  font: bold;
  margin: 0;
}
