body {
  position: relative;
  background-color: #505050;
}
.top {
  width: 1400px;
  height: 120px;
  border: 10px;
  border-style: solid;
  border-color: #909090;
  color: black;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.frameLeft {
  height: 70px;
  width: 70px;
  margin: 10px;
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
}
.frameLeftbord{
  height: 70px;
  width: 70px;
  margin: 10px;
  border: 5px solid red;
  margin-left: 15px;
  margin-top: 10px;
  position: relative;
}
.frameRight1 {
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
}
.frameRight2 {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
}
.frameRight3 {
  width: 100px;
  height: 60px;
  background: url("resources/brick.jpg");
}
.field { 
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #88FF89;
  box-shadow: 10px 10px 10px;
  border-radius: 10px;
  width: 520px;
  height: 170px;
  margin-top: 525px;
  margin-left: -510px;
}
label {
  font-size: 17px;
  font-family: sans-serif;
}
#l2 {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 17px
  
}
span {
  font-family: 'Times', sans-serif;
  font-size: 37px;
}
shadow {
  text-shadow: 4px 6px 8px red
}
input[type="button"] {
  box-shadow: inset 0px 0px 8px 7px lightgrey;
  border: 1px solid grey;
}
input[type="text"] {
  width:75%;
  box-shadow: 0px 0px;
}
.row {
  display: flex;
  justify-content: center;
  margin: 0 12%;
  padding-bottom: 200px;
  width: 1442px;
  margin: 0 auto
}
#text {
  width: 340px;
}
.left {
  width: 100px;
  height: 410px;
  border: 10px;
  border-style: solid;
  border-color: #909090;
  color: black;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  display: inline-block;
  margin: 10px;
  margin-bottom: 150px;
  align-content: center;
}
.right {
  width: 100px;
  height: 410px;
  border: 10px;
  border-style: solid;
  border-color: #909090;
  color: black;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  display: inline-block;
  margin: 10px;
  margin-bottom: 150px;
  align-content: center;
}
.cluster {
  border: 10px;
  border-style: solid;
  border-color: #909090;
  color: black;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  display: inline-block;
  margin: 10px;
}
#img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#close {
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 80px;
}
#reload {
  height: 20px;
  width: 20px;
  float: right;
}
#day42 {
  height: 120px;
  float: left;
}
#loupe {
  margin-left: 650px;
  float: left;
  margin-bottom: -18px;
}
